<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f8296">  <td>20/08/08 14:16:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:grid.GoogleTest@548a102f]">setUpTest</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/08/08 14:17:41</td>   <td>61706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:grid.GoogleTest@5c1a8622]">setUpTest</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>20/08/08 14:18:34</td>   <td>114717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:grid.GoogleTest@37e547da]">setUpTest</td> 
  <td>main@1891502635</td>   <td></td> </tr>
</table>
